<div class="mini-logo">
  <div class="mini-logo-glow"></div>
  <img src="/logo.svg" alt="Logo" class="logo">

  <h1 class="logo-name">
    The sound's of <span class="gradient-text">Music</span>
  </h1>
</div>

<div class="music-input">
  <h1>Enter Playlist link:</h1>
  <div class="input-wrapper">
    <img src="/playlist_logo.svg" alt="Logo" class="playlist-logo">
    <input type="text" [(ngModel)]="url" placeholder="Ex. youtube.com/watch?v=dQw4w9WgXcQ"/>
  </div>

<button (click)="download()">Download Playlist</button>

<p *ngIf="loading">Downloading...</p>

<div *ngIf="result && result.type === 'playlist'">
  <h3>✅ Playlist downloaded</h3>
  <p><b>Playlist:</b> {{ result.playlist_title }}</p>
  <p><b>Creator:</b> {{ result.creator }}</p>
  <p><b>Total songs:</b> {{ result.videos }}</p>
  <p><b>Total listening time:</b> {{ result.total_duration | duration }}</p>

  <hr />

  <h4>Songs</h4>
  <ul>
    <li *ngFor="let song of result.songs; let i = index">
      {{ i + 1 }}. <b>{{ song.title }}</b> — {{ song.duration | duration }}
    </li>
  </ul>
</div>


<p *ngIf="error" style="color:red">
  ❌ {{ error }}
</p>
</div>