.click-surface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  /* This changes the mouse to the "hand" icon */
  cursor: pointer; 
  
  /* Optional: Prevents user from highlighting text while clicking */
  user-select: none; 
}