.navbar{
    display: flex;
    gap: 12px;
    align-items: left;

  background: conic-gradient(
    from -89deg,
    #800080,
    #FFEA00 1%,
    #FAFA33 49%,
    #FFFDD0 50%,
    #DA70D6 51%,
    #800080 52%,
    #800080 60%,
    #800080 85%
  );
  filter: blur(0.4px);
}

.navbar a {
  text-decoration: none;
  padding: 5px 10px;
  color: #FFFF00;
}

.navbar a.active {
  color: #ffffff;
  font-weight: 600;
}

:host {
  font-family: 'Comfortaa', sans-serif;
}
