html, body {
  margin: 0;
  min-height: 100%;
  background-color: #333333;
}

.gradient-text {
  background: linear-gradient(
    50deg,
    #800080 1%,   /* purple start */
    #BF40BF 25%,
    #FFFDD0 50%,  /* cream */
    #FAFA33 85%,
    #FFFF00 100%  /* yellow end */
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* makes text show gradient */
}

.mini-logo-glow {
  position: absolute;
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  
  /* Conic gradient */
  background: conic-gradient(
    from -30deg,
    #BF40BF 15%, 
    #DA70D6 40%, 
    #FFFDD0 50%, 
    #FFFF00 60%, 
    #FAFA33 85%
  );
  
  /* Background blure */
  filter: blur(50px); 
  opacity: 0.2;
  z-index: 0;
  margin-left: -20px;
}

.mini-logo {
    position: relative;
    padding-left: 20px;
}