.music-input {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;

  padding-bottom: 150px;
}

input {
  width: 100%;
  box-sizing: border-box;

  margin-bottom: 35px;
  padding: 14px 25px;
  font-size: 16px;

  color: #ffffff;
  background-color: #999999;

  border: 2px solid #BF40BF;
  border-radius: 32px;
  outline: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0px;
  width: clamp(320px, 60%, 600px);
}

input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.music-logo {
  margin-bottom: 50px;
}

h1 {
 font-size: 14px;
 color: #fff;
 margin-right: 18%;
 margin-bottom: -1%;
}

:host {
  font-family: 'Comfortaa', sans-serif;
}

button {
  font-size: 16px;
  color: #FFFF00;
  background-color: #800080;

  border-radius: 25px;
  padding: 14px 25px;
  margin-top: -35px;

  border: 1px solid #800080;
  border-radius: 32px;
  outline: none;
}

.logo {
    z-index: 1;
    height: 150px;
    width: 150px;
}

.logo-glow {
  position: absolute;
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  
  /* Conic gradient */
  background: conic-gradient(
    from -30deg,
    #BF40BF 15%, 
    #DA70D6 40%, 
    #FFFDD0 50%, 
    #FFFF00 60%, 
    #FAFA33 85%
  );
  
  /* Background blure */
  filter: blur(50px); 
  opacity: 0.2;
  z-index: 0;
  margin-left: -20px;
}

.mini-logo {
    position: relative;
    padding-left: 20px;
}

.logo-name {
    margin-top: -15px;
}