<div class="music-input">
  <h1>Enter Music link:</h1>
  <div class="input-wrapper">
    <img src="/music_logo.svg" alt="Logo" class="music-logo">
    <input type="text" [(ngModel)]="url" placeholder="Ex. youtube.com/watch?v=dQw4w9WgXcQ"/>
  </div>

<button (click)="download()">Download MP3</button>

<p *ngIf="loading">Downloading...</p>

<div *ngIf="result">
  <h3>✅ Download successful</h3>
  <p><b>Title:</b> {{ result.title }}</p>
  <p><b>Uploader:</b> {{ result.uploader }}</p>
  <p><b>Duration:</b> {{ result.duration }} seconds</p>
  <p><b>Saved as:</b> {{ result.file_saved_as }}</p>
</div>

<p *ngIf="error" style="color:red">
  ❌ {{ error }}
</p>
</div>