.logo {
  z-index: 1;
  height: 150px;
  width: 150px;
}

.logo-name {
  margin-top: -15px;
}

h1 {
  font-size: 14px;
  color: #fff;
  justify-content: center;

}

.mini-logo {
    position: absolute;
}

h2 {
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.song-list {
  list-style: none;
  padding-top: 50px;

  gap: 20px; /* space between cards */
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.song-item {
  background: #999999;
  border-radius: 100px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.song-name {
  color: white;
  font-weight: 500;
  margin-left: 15%;
}

audio::-webkit-media-controls-panel {
  background-color: #999999;
}

audio {
  background-color: #999999; /* Matches your panel color */
  border: 2px solid #ffffff; /* Your purple border */
  border-radius: 320px;
  outline: none;
  width: 340px;
}

audio::-webkit-media-controls-play-button {
  filter: invert(1);
}

:host {
  font-family: 'Comfortaa', sans-serif;
}

.solo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.playlist-box {
  border: 2px solid #800080;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #222;
}

.playlist-title {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* One column on small screens */
@media (max-width: 900px) {
  .song-list {
    grid-template-columns: 1fr;
  }
}