.logo {
    z-index: 1;
    height: 150px;
    width: 150px;
}

.logo-name {
    margin-top: -15px;
}

h1 {
 font-size: 14px;
 color: #fff;
 margin-right: 18%;
 margin-bottom: -1%;
}

.song-list {
  list-style: none;
  padding-top: 50px;
}

.song-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0px;
  background: #999999;
  border-radius: 100px;
  margin-bottom: 8px;
  width: 550px;
}

.song-name {
  color: white;
  font-weight: 500;
  margin-left: 15%;
}

audio::-webkit-media-controls-panel {
  background-color: #999999;
}

audio {
  background-color: #999999; /* Matches your panel color */
  border: 2px solid #ffffff; /* Your purple border */
  border-radius: 320px;
  outline: none;
}

audio::-webkit-media-controls-play-button {
  filter: invert(1);
}

:host {
  font-family: 'Comfortaa', sans-serif;
}